PORT=4000
API_PREFIX=api
APP_NAME=DoorstepFilings
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=doorstep_nest
DB_CONNECTION_LIMIT=10

LEGACY_DB_HOST=127.0.0.1
LEGACY_DB_PORT=3306
LEGACY_DB_USERNAME=root
LEGACY_DB_PASSWORD=
LEGACY_DB_DATABASE=doorstepfilings
LEGACY_STORAGE_ROOTS=D:\wamp64\www\doorstepfilings\public\storage;D:\wamp64\www\doorstepfilings\storage\app\public

JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=krishna.radio2pir@gmail.com
MAIL_PASSWORD=lsstvxbryqeftnmi
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=krishna.radio2pir@gmail.com
MAIL_FROM_NAME="Doorstepfilings"


RAZORPAY_KEY_ID=rzp_test_SLxXyZTjic6PoZ
RAZORPAY_KEY_SECRET=c1flzOtIbZGHxFkv41yNHZT4
